.container-fluid > .logo > img{
	width: 100%;
  margin: auto;
}
.container-fluid > .banner > img{ 
    width: 100%;
    margin: auto;
}
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  #myCarousel{
  	margin-top: -20px;
  }
  .footer-paragraph{
    color: #fff;
  }
 .list-group{
  <!--background-color: blue;-->
 }